{% extends 'base.html' %}

{% block content %}
<div class="col m-3">
    <a class="small" href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    <h1>Edit entry:</h1>
    <hr>
    <form method="post" action="{% url 'learning_logs:edit_entry' entry.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary mr-2" type="submit" >Change</button>
        <span><a href="{% url 'learning_logs:topic' topic.id %}">Cancel</a></span>
    </form>
</div>
{% endblock %}